.tieude {
  color: red;
  font-weight: bold;
  font-size: 20pt;
}
.noidung{
  color: black;
  font-style: normal;
  font-size: 14pt;
}
.backup{
  color: D11111;
  font-weight: bold;
  font-size: 25pt;
  text-align: center;
}
